rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Dev: permitir apenas usuários autenticados
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}

